body{
    /*background-color: black;
    background-image: url(imagem/wallpaper002.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    assim e o padaro mas a shortrand é assim*/
    background: black url(imagem/wallpaper002.jpg) center no-repeat fixed;
}