@charset "UTF-8";

body{
    font: normal 1em arial, helvetica, sans-serif;
    background-color: rgb(250, 204, 231);
}

h1{
    color: darkgreen;
    font-size: 2em;
}

h2{
    color: green;
}

#titulo{
    background-color: darkgreen;
    color: white;
    text-align: center;
}
.topico{
    text-align: right;
    color: brown;
}
.texto{
    text-align: justify;
}