*{
    padding: 0px;
    margin: 0px;
}




.fundo{
    display:block;
    background-image: url(imagem/espaco.jpg);
    background-color: black;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    width: 1280px;
    height: 641px;
    position: absolute;

}

#dentro{
    display: block;
    background-image: url(imagem/astronauta.png);
    background-size: 80%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    width: 520px;
    height: 500px;
    position: relative;
    position: fixed;
    text-align: justify;
    top: 50%;
    left: 55%;
    transform: translate(-55%, -45%);
    
}

/*Desafio concluidooooooooooooooo*/
